* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* ----------------- Nav --------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100dvw;
    height: 50px;
    top: 0;
    z-index: 100;

    padding: 0px 20px;
    backdrop-filter: blur(3px);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

.navNom {
    height: 18px;
}

.navInfo {
    width: 0;
    overflow-x: hidden;
    transition: width 0.5s ease;
    text-align: initial;
    position: absolute;
    white-space: nowrap;
}

.navInfoAffiche {
    width: 350px;
}



/* ------------------------------------------- */

#aPropos {
    height: 90dvh;
}

/* -------------- Tools --------------- */

select {
    border: none;
    font-family: monospace;
    font-size: 13px;
    background-color: transparent;
}

.blanc option {
    background-color: var(--bleu);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.bottom {
    align-self: flex-end;
}

.col {
    flex: 0 0 auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.33333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.jc-between {
    justify-content: space-between;
}

.jc-evenly {
    justify-content: space-evenly;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.verticalAlign {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.po-relative {
    position: relative;
}

.posi-absolute {
    position: absolute;
}

p {
    margin: 0;
}

.txtGauche {
    text-align: end;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 0;
}

a::before,
.surligne::before,
.surligneNav {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background-color: var(--jaune);
    bottom: -2px;
    left: -1px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    z-index: -1;
    padding: 0 3px;
}

.surligne::before {
    transform: scaleX(1);
}

*::selection {
    background-color: var(--jaune);
}

.bg2 a::before,
.bg2 *::selection,
.blanc a::before {
    background-color: var(--noir);
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nom::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nom:hover::before {
    transform-origin: right;
    transform: scaleX(0);
}

.blanc>ul>li>a:hover::before,
.blanc>ul>li>a::before {
    background-color: var(--gris_fonce) !important;
}

.ai-center {
    align-items: center;
}

.ta-left {
    text-align: left;
}

.ta-justify {
    text-align: justify;
}

.over-h {
    overflow: hidden;
}

/* ---------------- Espace ------------------ */

.mt375 {
    margin-top: 375px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb75 {
    margin-bottom: 75px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.mb400 {
    margin-bottom: 400px !important;
}

/* ---------------- Couleur ------------------ */
:root {
    --blanc: white;
    /* 0b0e13 */
    --bleu: #2c3250;
    /*--bleu: #000000;*/
    --noir: #0b0e13;
    --gris_fonce: #161b22;
    --gris_clair: #30363d;
    --girs_clair_hover: #484f58;
    --noir_bordure: #24292f;
    --vert_neon: #7ee787;
    --vert_neon2: #427f52;
    --rose_neon: #c597fd;
    --violet_neon: #6639ba;
    --bleu_neon: #a5d6ff;
    --bleu_fonce_neon: #2f81f7;
    /* Surligne */
    --jaune: #FFFF01;
    --orange_GauMuscu: #ffc107;
    --bleu_GauMode: #c5e6fa;
}

.bg1 {
    background-color: var(--blanc);
    color: var(--noir);
}

.bg2 {
    background-color: var(--bleu);
    color: var(--blanc);
}

.bg2 .h2 {
    border-color: var(--blanc);
}

.bg2 .line {
    background-color: var(--blanc);
}

#sec1,
#sec2,
#sec3 {
    padding: 5px calc(100% / 12 * 1);
    width: 100%;
    padding-bottom: 0;
    transition: background-color 0.5s;
}

.noir,
.noir * {
    color: var(--noir) !important;
    border-color: var(--noir) !important;
}

.blanc,
.blanc * {
    color: var(--blanc) !important;
    border-color: var(--blanc) !important;
}

/* ---------------- Texte ------------------ */

.h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid var(--noir);
    margin-bottom: 50px;
}

.h3 {
    font-size: 1.15rem;
    text-align: center;
    text-decoration: underline;
}

.h4 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.h5 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* ---------- Animation ----------*/

.leftAnim {
    left: -30%;
    opacity: 0;
    position: relative;
}

.rightAnim {
    right: -30%;
    opacity: 0;
    position: relative;
}

.bottomAnim {
    transform: translateY(50px);
    opacity: 0;
    position: relative;
}

.anim.leftAnim {
    transition: left 1s ease-in-out 0.3s, opacity 1s linear 0.3s !important;
    left: 0 !important;
    opacity: 1 !important;
}

.anim.rightAnim {
    transition: right 1s ease-in-out 0.3s, opacity 1s linear 0.3s !important;
    right: 0 !important;
    opacity: 1 !important;
}

.anim.bottomAnim {
    transition: transform 1s ease-in-out, opacity 1s linear !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
}

/* ------------- Intro ------------- */

.divPhoto {
    width: calc(100% / 12 * 4);
    border: 3px solid var(--noir);
    max-height: -webkit-fill-available;
    height: 35dvw;
}

.divTxt {
    width: calc(100% / 12 * 7);
    font-size: 15px;
    position: relative;
    backdrop-filter: blur(2px);
}

#pointeur {
    top: 20%;
    left: 80%;
    position: absolute;
    width: 5dvw;
}

#pointeurBloc {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
}

#introCache {
    position: absolute;
    visibility: hidden;
}

#introInteretBloc {
    max-height: 0;
    height: auto;
    transition: max-height 0.5s ease-in-out;
}

.interet {
    padding: 0.5dvw 3dvw;
    margin: 0.5dvw;
    border: 1px solid var(--noir);
    border-radius: 100px;
    transition: box-shadow .5s ease-in-out;
}

.interet:hover {
    box-shadow: inset 200px 0 0 0 var(--jaune);
}

.bloc {
    padding-bottom: 50px;
    padding-top: 50px;
}

/* ------------------------------------------- */

.vertical-div {
    position: fixed;
    bottom: 0px;
    width: calc(100% / 12);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    z-index: 10;
}

.v-Droite {
    right: 0;
}

.v-Gauche {
    left: 0;
}

.vertical-ligne {
    height: 150px;
    width: 0px;
    border-left: 3px solid var(--noir);
    margin-top: 10px;
}

.reseau {
    width: 4dvw;
    height: 4dvw;
    border: 1px solid var(--noir);
    border-radius: 50%;
    margin-top: 10px;
    transition: box-shadow 1s ease-in-out;
}

.reseau:hover {
    box-shadow: inset 200px 0 0 0 var(--jaune);
}

.reseau>img {
    width: 50px;
    height: 50px;
}

/* ------------------------------------------- */

.parcours {
    width: 100%;
}

.rondNoir {
    width: 4dvw;
    height: 4dvw;
    min-width: 30px;
    min-height: 30px;
    max-width: 40px;
    max-height: 40px;
    background-color: var(--gris_fonce);
    border-radius: 50%;
    margin: 0 auto;
}

.hrWhite {
    border: 3px var(--blanc) dashed;
    height: 150px;
    width: 0px;
    margin: 0 auto;
}


#rond1 {
    top: 2.5dvw;
    left: -3dvw;
}

#rond2 {
    top: 7.5dvw;
    left: 22dvw;
}

#rond3 {
    top: 7dvw;
    left: 42dvw;
}

#rond4 {
    top: 0dvw;
    left: 60dvw;
}


#AnimFormation {
    transition: height .5s ease-in-out;
    position: relative;
    transform: translate(0, -15dvw);
    margin-bottom: -15dvh;
}

.formationBloc {
    height: 3.5dvw;
    overflow: hidden;
    flex: 0 0 auto;
    width: calc(100% / 3);
    position: absolute;
    transition: height .5s ease-in-out;
}

/* ----------- Formation -------- */

.ProgInfo,
.ProgInfo>div {
    display: flex;
    margin-bottom: 5px;
}

.ProgInfo>i {
    margin-right: 10px;
}

.barreProg {
    border: 3px solid var(--blanc);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    padding: 5px;
}

#progression {
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background: var(--blanc);
    transition: width 0.5s ease-in-out;
}

#progEncours {
    visibility: hidden;
}

.terminalHead {
    background-color: var(--blanc);
    color: var(--noir);
    padding: 10px 15px;
    width: 100%;
    border: 1px solid var(--noir);
}

#terminal {
    background-color: var(--gris_fonce);
    color: var(--blanc);
    height: 225px;
    overflow-y: auto;
    line-height: 15px;
    margin-bottom: 20px;
}

.repertoire {
    color: #bfbf00;
}

#progLeft {
    visibility: hidden;
}

.expPro {
    flex: 0 0 auto;
    width: 45%;
    max-width: 400px;
}

.exProligne {
    flex: 0 0 auto;
    width: 10%;
}

.detail {
    background-color: var(--gris_fonce);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 15px 20px;
    position: relative;
    text-align: justify;
    color: var(--blanc);
}

.detail>* {
    margin: 0;
    padding: 0;
}

.expTitre {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: start;
}

.txtBlancSecond {
    color: rgba(255, 255, 255, 0.6)
}

.label {
    margin-right: 20px;
    text-align: initial;
}

.label:hover {
    text-decoration: underline;
}

.date {
    margin-top: 10px;
}

.hrBlack {
    border: 3px var(--gris_fonce) solid;
    height: 100%;
    width: 0;
    margin: 0 auto;
}

/* ------------ Langue Informatique ------------ */

.competence {
    display: grid;
    flex: 0 0 auto;
    width: calc(100% / 6);
    padding: 10px;
    padding-bottom: 20px;
}

.competenceImg {
    max-width: 100%;
    height: 8dvw;
    max-height: 70px;
}

.competenceNom {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.competenceCategorie {
    flex: 0 0 auto;
    margin-bottom: 20px;
}

.competenceCategorie>p {
    text-align: center;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.bgDev {
    background-color: var(--violet_neon);
}

.bgWeb {
    background-color: var(--bleu_fonce_neon);
}

.bgBD {
    background-color: var(--vert_neon2);
}

.bgDevHover.bgDev,
.bgWebHover.bgWeb,
.bgBDHover.bgBD {
    transition: background-color 1s ease-out;
}

/* ------------ Langue Vivante ------------ */

.langue {
    display: grid;
    flex: 0 0 auto;
    width: calc(100% / 4);
}

.langueImg,
.langueInfo {
    width: 13dvw;
    max-width: 110px;
    height: 13dvw;
    max-height: 110px;
    border-radius: 50%;
    position: absolute;
}

.langueInfo {
    background-color: rgb(255 255 255 / 0%);
    color: rgb(255 255 255 / 0%);
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.langueInfo>p {
    width: 100%;
    font-size: 14px;
}

.langueInfo:hover {
    background-color: rgb(44 50 80 / 75%);
    color: white;
}

.langueTxt {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


/* ------------ Projet ------------ */

#projetTitre {
    margin-bottom: 25px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--noir);
    margin: 0 10px;
}

#projPerso,
#projEtude {
    margin: 10px 0;
    text-decoration: none;
}

#projPerso:hover,
#projEtude:hover {
    text-decoration: underline;
}

#GauMuscuTitre {
    color: var(--orange_GauMuscu);
}

#GauModeTitre {
    color: var(--bleu_GauMode);
}

.centerImg {
    display: flex;
    max-width: 100%;
    height: calc(100% - 20px);
    margin: auto;
}

.legend {
    font-size: 1.5dvw;
    text-align: center;
    font-style: italic;
}

/* ------------------------------------------- */
#projet {
    padding-bottom: 0;
}

.iphone {
    display: flex;
    justify-content: center;
    background-color: var(--blanc);
    border-radius: 30px;
    border: 5px solid #24292f;
    height: 400px;
    width: 200px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
}

.iphone>iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.iphoneIsland {
    background-color: #24292f;
    border-radius: 0 0 20px 20px;
    height: 20px;
    width: 100px;
    z-index: 10;
    position: absolute;
}

.ordi {
    display: flex;
    justify-content: center;
}

.ordiEcran {
    background-color: var(--blanc);
    border: 5px solid #24292f;
    height: calc(100dvw / 12 * 3.5);
    width: calc(100dvw / 12 * 6);
    max-height: 300px;
    max-width: 500px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.ordiCou {
    background-color: #24292f;
    height: 20px;
    width: 10px;
    box-shadow: 10px 0px 10px rgb(0 0 0 / 0.2);
}

.ordiPied {
    background-color: #24292f;
    border-radius: 20px 20px 0 0;
    height: 20px;
    width: 100px;
    box-shadow: 10px 0px 10px rgb(0 0 0 / 0.2);
}

.cardProjRow {
    width: calc(100% / 2.5);
}

.cardProj {
    height: 200px;
    padding: 10px 15px;
    margin: 5px 10px 0 10px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 0.2);
    transition: box-shadow 0.2s, margin 0.2s, height 0.2s;
}

.cardProj:hover {
    margin: 0 10px 5px 10px;
    box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 0.2);
}


/* -------------- Projet -------------- */

/**
 * 50px - 35px = 15px
 * 15 * 2 = 30px
 */

.rowPochette {
    height: 640px;
}

.pochette {
    display: flex;
    width: calc(100% / 10 * 9);
    max-width: 800px;
    height: 275px;
    padding-top: 50px;
    background-color: #f6c906;
    border-radius: 20px 20px 0 0;
}

.pochetteDos {
    z-index: 10;
    width: 100%;
    max-width: calc(800px + (100dvw / 12 * 1) + 10px);
    border-radius: 20px 20px 0 0;
    border-top: solid #f6c906;
    border-left: solid transparent;
    border-right: solid transparent;

    border-right-width: calc(100dvw / 24 * 1 - 10px);
    border-left-width: calc(100dvw / 24 * 1 - 10px);

    position: absolute;
    bottom: 0;
    box-shadow: 0px -30px 10px -10px rgb(0 0 0 / 0.2);
}

.feuille {
    position: absolute;
    width: calc(100% / 10 * 9 - 40px);
    max-width: 760px;
    transition: transform 0.5s ease-in-out;
}

.papier {
    border-top-right-radius: 15px;
    border: 1px solid var(--noir);
    background-color: var(--blanc);
}

.etiquette {
    width: fit-content;
    min-width: 75px;
    padding: 10px;
    height: 35px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--noir);
    border-bottom: none;
    background-color: var(--blanc)
}

.projTexte {
    margin: 20px;
    margin-right: 10px;
    height: 260px;
    max-height: 260px;
    overflow-y: auto;
    text-align: justify;
    padding-right: 10px;
    transition: height 0.5s ease-in-out;
}

.projImg {
    max-width: 45%;
    max-height: 260px;
    float: left;
    margin-right: 10px;
    border: 1px solid var(--noir);
}


/* -------------- Footer -------------- */

footer {
    padding: 0 7px;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
    background-color: var(--blanc);
    box-shadow: 0px -20px 10px -10px rgb(0 0 0 / 0.2);
}

footer>hr {
    margin-top: 0;
}

/******************************************/

/* si taille de l'écran inférieur a 720px */
@media (max-width: 720px) {
    .vertical-div {
        display: none;
    }

    .bg2,
    .bg1 {
        padding: 1px calc(100% / 12 * 0.5);
    }
}

/* ---------- Scroll Bar --------- */
/* Apply custom scrollbar to a specific container with the class "*" */

.projTexte {
    scrollbar-width: thin;
    scrollbar-color: #f6c906 #ffffff;
}

.projTexte::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

.projTexte::-webkit-scrollbar-thumb {
    background-color: #f6c906;
    border-radius: 6px;
}

.projTexte::-webkit-scrollbar-track {
    border-radius: 6px;
}

.projTexte::-webkit-scrollbar-thumb:hover {
    background-color: #f6c906;
}